@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --primary: #eab308;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sintony";
  background-color: grey;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

header.nav-scrolled {
  background-color: transparent;
}

header.nav-scrolled nav ul li a,
header.nav-scrolled .btn {
  color: var(--white);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: inherit;
}

.logo img {
  height: 50px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-basis: 50%;
}

ul li a {
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
}

.hamburger {
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }

  ul {
    display: none;
  }

  ul.toggle_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    height: 300px;
    width: 100%;
    gap: 2rem;
    background-color: var(--white);
    animation: toggleAnimation 0.5s ease-in-out;
  }
}

@keyframes toggleAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  display: flex;
  gap: 1rem;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: var(--primary);
  border: 2px solid white;
}

.btn i {
  font-size: 20px;
}

.btn span {
  text-transform: uppercase;
  font-weight: 600;
}

.btn-outer {
  padding: 5px;
  background-color: var(--primary);
  border-radius: 25px;
}

.intro img {
  width: 100%;
  height: auto;
}
