@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --primary: #eab308;
  --secondary: #374151;
  --grey: #edf1f3;
  --nav-links: #a5aaaf;
  --font-primary: "Sintony";
  --font-secondary: "Playfair Display";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0rem;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 9999;
}

header.nav-scrolled {
  background-color: transparent;
  backdrop-filter: blur(5px);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: inherit;
}

.logo img {
  height: 50px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-basis: 50%;
}

header ul li a {
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
}

.hamburger {
  font-size: 30px;
  display: none;
}

.btn {
  display: flex;
  gap: 1rem;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: var(--primary);
  border: 2px solid white;
}

.btn i {
  font-size: 20px;
}

.btn span {
  text-transform: uppercase;
  font-weight: 600;
}

.btn-outer {
  padding: 5px;
  background-color: var(--primary);
  border-radius: 25px;
}

/* Intro section */

.intro {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.75)),
    url(../images/MainBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-secondary);
  padding: 6rem 0 6rem 0;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  color: var(--white);
  font-weight: 600;
}

.intro-container h1 {
  font-size: 3.75rem;
  line-height: 1;
  color: var(--white);
  font-weight: 600;
}

.intro-container h4 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--white);
  font-weight: 600;
}

.intro-container h4 span {
  color: var(--primary);
}

.intro-container img {
  width: 50%;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

/* Details strip */

.details {
  background-color: var(--grey);
  padding: 1rem 3.5rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 4rem;
}

.explore {
  position: absolute;
  left: 0;
  transform: translate(55%, -40%);
}

.review {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.convo {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.review .read {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}

.f-out {
  background-color: var(--primary);
  padding: 0.25rem;
  border-radius: 9999px;
}
.f-in {
  background-color: var(--primary);
  padding: 0.5rem 0.6rem;
  border-radius: 9999px;
  border: 2px solid var(--white);
}

.home-delivery {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.delivery {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-primary);
  line-height: 1;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.about-left {
  font-family: var(--font-primary);
}

.about-left h1 {
  font-family: var(--font-secondary);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about-left .para {
  color: var(--secondary);
}

.read-btn {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  margin-top: 2rem;
  font-weight: 600;
  border: none;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  width: 150rem;
}

.img-grid-1 {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 1.25rem;
}

.img-grid img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.img-grid-2 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.img-grid-2 img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Reservation */

.reservation {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: var(--font-secondary);
  font-size: 2rem;
}

.reserve-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact img {
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 40%;
}

.label {
  position: relative;
  display: block;
  width: 300px;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #bcbdbe;
  padding: 7px 8px 7px 10px;
  text-align: left;
}

.icon {
  position: absolute;
  top: 53%;
  right: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: var(--black);
  font-size: 20px;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #525353;
  font-size: 16px;
}

.input::placeholder {
  color: #000;
}

.contact-form {
  display: grid;
  grid-template-rows: repeat(6, 85px);
  column-gap: 1rem;
}

.reserve-btn {
  background-color: var(--primary);
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}

/* Footer */
footer {
  background-color: var(--secondary);
}

.footer {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-nav h1 {
  font-family: var(--font-secondary);
  font-size: 24px;
  color: var(--white);
  margin-bottom: 2rem;
}

.footer-nav .footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list li a {
  text-decoration: none;
  color: var(--nav-links);
}

.news h1 {
  font-family: var(--font-secondary);
  font-size: 24px;
  color: var(--white);
  margin-bottom: 2rem;
}

.des {
  color: var(--nav-links);
  margin-bottom: 1rem;
}

/* Input  */
.input-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 290px;
}

.input-container .input-email {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.input-email {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  color: var(--white);
  border: 1px solid #cdd9ed;
  background: transparent;
  transition: border 0.3s ease;
}

.input-email::placeholder {
  color: #cbd1dc;
}

.input-email:focus {
  outline: none;
  border-color: var(--primary);
}

.sub {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sub .subscribe {
  background-color: var(--primary);
  padding: 10px 1rem;
  border-radius: 4px;
  color: var(--white);
  text-transform: uppercase;
}

.socials i {
  color: var(--white);
  font-size: 28px;
  padding: 7px;
  border-radius: 25px;
}

.socials i:first-child {
  background-color: #3b5998;
}
.socials i:nth-child(2) {
  background-color: #55acee;
}
.socials i:last-child {
  background-color: #dd4b39;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .container {
    padding: 2rem 0;
  }

  header.nav-scrolled {
    background-color: var(--white);
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  header ul {
    display: none;
  }

  header ul.toggle_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    height: 300px;
    width: 100%;
    gap: 2rem;
    background-color: var(--white);
    animation: toggleAnimation 0.5s ease-in-out;
  }

  header.nav-scrolled ul.toggle_active li a {
    color: var(--black);
  }

  .intro-container .text {
    text-align: center;
    margin: 1rem;
  }

  .intro-container img {
    width: 70%;
  }

  .details {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .explore {
    display: none;
  }

  .about {
    flex-wrap: wrap;
    margin: 1rem;
    gap: 0;
  }
  .about-left h1 {
    text-align: center;
  }

  .contact {
    gap: 2rem;
    flex-wrap: wrap;
  }

  .contact img {
    width: 80%;
  }

  .footer {
    margin: 10px;
    flex-direction: column;
  }
}

@keyframes toggleAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width > 700px) {
  .contact-form {
    grid-template-rows: repeat(3, 85px);
    grid-template-columns: repeat(2, 1fr);
  }
}
